body{
  background-color: #0052d0 !important;
}

/*custom fonts*/
@font-face {
  font-family: ibm;
  src: url("/public/fonts_ibm/IBMPlexSansArabic-Light.ttf");
  weight: 400;
}
@font-face {
  font-family: ibm;
  src: url("/public/fonts_ibm/IBMPlexSansArabic-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: ibm;
  src: url("/public/fonts_ibm/IBMPlexSansArabic-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: ibm;
  src: url("/public/fonts_ibm/IBMPlexSansArabic-Bold.ttf");
  font-weight: bold;
}